@use "sass:color";

// base inform colors
$django-formset-alert: rgb(255, 3, 0);
$django-formset-warning: rgb(255, 165, 0);
$django-formset-success: rgb(0, 122, 0);

// Selectize, PhoneNumber, Calendar, DateTime
$select-color-highlight: light-dark(hsl(51, 96%, 89%),  hsl(51, 96%, 45%));
$selected-item-background-color: light-dark(hsl(213, 96%, 64%), hsl(213, 96%, 36%));
$selected-item-border-color: light-dark(hsl(213, 96%, 42%), hsl(213, 96%, 58%));
$active-item-background-color: color-mix(in srgb, color-mix(in oklab, $selected-item-background-color, var(--django-formset-fg-color) 20%), var(--django-formset-background-color) 80%);
$muted-item-color: color-mix(in srgb, currentcolor, var(--django-formset-background-color) 50%);
$semimuted-item-color: color-mix(in srgb, currentcolor, var(--django-formset-background-color) 30%);

// Calendar
$calendar-range-background-color: color-mix(in srgb, $selected-item-background-color, var(--django-formset-background-color) 50%);

$django-formset-color-invalid: 'rgb(' + #{color.red($django-formset-alert), color.green($django-formset-alert), color.blue($django-formset-alert)} + ')';
$django-formset-color-warning: 'rgb(' + #{color.red($django-formset-warning), color.green($django-formset-warning), color.blue($django-formset-warning)} + ')';
$django-formset-shadow-invalid: 'rgb(' + #{color.red($django-formset-alert), color.green($django-formset-alert), color.blue($django-formset-alert)} + ', 0.25)';
$django-formset-shadow-warning: 'rgb(' + #{color.red($django-formset-warning), color.green($django-formset-warning), color.blue($django-formset-warning)} + ', 0.25)';
$django-formset-color-valid: 'rgb(' + #{color.red($django-formset-success), color.green($django-formset-success), color.blue($django-formset-success)} + ')';
